<div class="sidebar-menu">
  <div class="sidembar-menu-wrap">
    <a href="javascript:void(0)" class="sidebar-close-icon icon--close">
      <i class="ion ion-android-close"></i>
    </a>

    <div class="sidebar-content">
      <h5 class="white">Sign In</h5>
      <form role="search" id="searchform" action="/search" method="get" class="sign-in">
        <input class="input-sm form-full" type="email" aria-required="true" id="email" name="email" placeholder="Email" value="" />
        <input class="input-sm form-full" type="password" aria-required="true" id="password" name="password" placeholder="Password" value="" />
        <input type="submit" class="btn btn-md btn-color-b form-full" value="Sign In" />
      </form>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Gallery", galleries_path %></li>
      </ul>
    </div>
  </div>
</div>
