<section id="intro">
  <div class="flexslider fullscreen-carousel hero-slider-1 ">
    <ul class="slides">
      <% @galleries.each do |gallery| %>
        <li data-slide="light-slide">
          <div class="slide-bg-image overlay-light parallax parallax-section1" data-background-img="<%= rails_blob_url(gallery.images.first) %>">
            <div class="js-Slide-fullscreen-height container">
              <div class="intro-content">
                <div class="intro-content-inner">
                  <h2 class="h2"><%= gallery.title %></h2>
                  <p class="lead"><%= gallery.description %></p>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</section>
